<a href="https://colab.research.google.com/github/mduzzwal123456-create/msh/blob/main/python%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Name : MD SIAM HOSSAIN

**Question 1** Variables and Data Types

#Question A

In [5]:

name = "MD SIAM HOSSAIN"
age = 20
GPA = 3.35
student = True

In [6]:
print(type(name))
print(type(age))
print(type(GPA))
print(type(student))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

B

In [7]:
a = "123"

In [8]:
print(type(a))

<class 'str'>

In [9]:
change_a = int(a)

In [10]:
print(type(change_a))

<class 'int'>

In [11]:
b = 456

In [12]:
print(type(b))

<class 'int'>

In [13]:
change_b = str(b)

In [14]:
print(type(change_b))

<class 'str'>

In [15]:
c = 3.99

In [16]:
print(type(c))

<class 'float'>

In [17]:
change_c = int(c) #take the Floor value

In [18]:
print(type(change_c))

<class 'int'>

In [19]:
d = bool(1)
e = bool(0)

In [20]:
print(type(d))
print(type(e))

<class 'bool'>
<class 'bool'>

Q 2

In [21]:
a = 17
b = 5

In [22]:
print("addition:",a + b)

addition: 22

In [23]:
print("subtraction:",a - b)

subtraction: 12

In [24]:
print("multiplication:",a * b)

multiplication: 85

In [25]:
print("division:",a / b)

division: 3.4

In [26]:
print("floor division:",a // b)

floor division: 3

In [27]:
print("modulus:",a % b)

modulus: 2

In [28]:
print("17 power of 5 : ", 17**5) # Power Form

17 power of 5 :  1419857

In [29]:
print("17 > 5:", a > b)

17 > 5: True

In [30]:
print("17 == 5:", a == b)

17 == 5: False

In [31]:
print("17 != 5:", a != b)

17 != 5: True

Question 3

A

In [32]:
name = "python programming"

In [33]:
print(name.upper())#upper case

PYTHON PROGRAMMING

In [34]:
print(name.title())#title case

Python Programming

In [35]:
print(name.replace("programming","language")) #use replace keyword

python language

In [36]:
print(len(name)) #length of name/string

18

B

In [37]:
name = "MD SIAM HOSSAIN"
age = 20
GPA = 3.35

In [38]:
print(f"My name is {name},I am {age} years old,and my GPA is {GPA}")

My name is MD SIAM HOSSAIN,I am 20 years old,and my GPA is 3.35

Question 4

A

In [40]:
age = int(input("enter you age :"))
if age > 18:
    print("You are an adult")
if age >= 13 and age <= 17:
  print("You are a teenager")
if age < 13:
    print("You are a Child")

enter you age :77
You are an adult

B

In [41]:
num = int(input("Enter a number: "))
print("Even" if num % 2 == 0 else "Odd")

Enter a number: 4
Even

C

In [42]:
mark = int(input("Enter your mark: "))
if mark < 0 or mark > 100:
    print("Invalid mark")

if mark >= 90:
    print("A+")
if mark >= 80:
    print("A")
if mark >= 70:
    print("B")
if mark >= 60:
    print("C")
if mark >= 50:
    print("D")
else:
    print("F — Failed")

Enter your mark: 44
F — Failed

D

In [43]:
correct_username = "admin"
correct_password = "1234"

attempts = 0

while attempts < 3:
    username = input("Enter username: ")
    password = input("Enter password: ")

    if username == correct_username and password == correct_password:
        print("Login successful! Welcome,", username)
        break

    elif username == correct_username and password != correct_password:
        print("Incorrect password. Try again.")

    else:
        print("User not found.")

    attempts += 1

if attempts == 3:
    print("Account locked.")

Enter username: 445
Enter password: 55
User not found.
Enter username: 55
Enter password: 55
User not found.
Enter username: 555
Enter password: 555
User not found.
Account locked.

Q5

A

In [44]:
pinNumber = 2221     # Correct PIN
balance = 6000      # Account balance

userPin = int(input("Enter PIN: "))

if userPin != pinNumber:
    print("Wrong PIN!")
else:
    request = float(input("Enter withdrawal amount: "))

    if request <= 500:
        print("Amount must be greater than 500")
    elif request > balance:
        print("Insufficient balance")
    else:
        balance = balance - request
        print("Successful withdrawal")
        print("Remaining balance:", balance)

Enter PIN: 56
Wrong PIN!

B

In [45]:
pinNumber = 6678
balance = 9999
attempts = 5
status = True

while attempts > 0:
    userPin = int(input("Enter PIN: "))

    if userPin == pinNumber:
        print("PIN correct!")

        request = float(input("Enter withdrawal amount: "))

        if request <= 500:
            print("Amount must be greater than 500")

        elif request > balance:
            print("Insufficient balance")

        else:
            balance = balance - request
            print("Withdrawal successful")
            print("Remaining balance:", balance)

        break
    else:
        attempts -= 1

        if attempts == 0:
            print("Card blocked!")
            status = False
        else:
          print("Wrong pin. Attempts remaining:", attempts)

Enter PIN: 65
Wrong pin. Attempts remaining: 4
Enter PIN: 65
Wrong pin. Attempts remaining: 3
Enter PIN: 56
Wrong pin. Attempts remaining: 2
Enter PIN: 56
Wrong pin. Attempts remaining: 1
Enter PIN: 56
Card blocked!

C

In [46]:
correct_username = "MSH"
correct_password = "0775"
is_active = True
attempts = 5

while attempts > 0:

    username = input("Enter username: ")
    password = input("Enter password: ")

    if is_active == False:
        print("Account is disabled.")
        break

    elif username != correct_username or password != correct_password:
        attempts -= 1
        print("Login failed. Attempts left:", attempts)

    else:
        print("Login successful!")
        break

if attempts == 0:
    print("Account disabled.")

Enter username: 77
Enter password: 77
Login failed. Attempts left: 4
Enter username: 77
Enter password: 77
Login failed. Attempts left: 3
Enter username: 77
Enter password: 77
Login failed. Attempts left: 2
Enter username: 77
Enter password: 77
Login failed. Attempts left: 1
Enter username: 77
Enter password: 77
Login failed. Attempts left: 0
Account disabled.

Q 6

A

In [47]:
for i in range(1, 21):
    print(i)
for i in range(1, 11):
    print(f"7 x {i} = {7 * i}")
ans = 0
for i in range(1, 101):
    ans += i
print(ans)
for _ in range(0, 51, 2):
    print(_)
fruits = ['apple', 'banana', 'cherry', 'mango', 'grape']
for i, fruit in enumerate(fruits):
    print(f"{i + 1}. {fruit}")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
5050
0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
1. apple
2. banana
3. cherry
4. mango
5. grape

B

In [51]:
num = 10
while (num > 0):
    print(num)
    num -= 1


ans = 0
while True:
    num = int(input("Enter a number : "))
    if num <= 0:
        print(f"Sum : {ans}")
        break
    else:
        ans += num


num = 10
while (num >= 0):
    if (num == 0):
        print("Blast off!")
    else:
        print(num)
    num -= 1


num = 6
count = 1
while (count <= 10):
    print(num)
    num += 6
    count += 1

10
9
8
7
6
5
4
3
2
1
Enter a number : 8
Enter a number : 4
Enter a number : 7
Enter a number : 9
Enter a number : 0
Sum : 28
10
9
8
7
6
5
4
3
2
1
Blast off!
6
12
18
24
30
36
42
48
54
60